@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.item-image {
  object-fit: cover;
  width: 100%;
}

.item-image-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: auto;
}

.item-container {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: auto auto auto;
}